* {
    box-sizing: border-box;
}

body {
    background-color: navy;
    color: aliceblue;
}

.title {
    text-align: center;
    font-size: 50px;
}

.player-form {
    margin: auto;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
    background-color: steelblue;
    font-size: 25px;
}

.name-label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#form-submit {
    margin: auto;
    width: 40%;
    font-size: 25px;
    background-color: lightgreen;
    border: 1px solid black;
}

#form-submit:hover {
    background-color: green;
    color: aliceblue;
}

#player-name {
    margin-left: 30px;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.winner-message {
    height: 50px;
    text-align: center;
}

.player-one-grid, .player-two-grid {
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 30px);
}

.player-grid-square, .computer-grid-square {
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    user-select: none;
    background-color: white;
}

.computer-grid-square:hover {
    background-color: #eeeeee;
}

.player-one-grid, .player-two-grid {
    border: 1px solid black;
}

.player-one-name, .player-two-name {
    text-align: center;
    font-size: 35px;
}

.randomize-button {
    margin: auto;
    padding: 3px;
    font-size: 18px;
    color: aliceblue;
    border: 1px solid aliceblue;
    background-color: steelblue;
}

.randomize-button:hover {
    background-color: rgb(70, 100, 122);
}

.play-button {
    margin: auto;
    width: 150px;
    height: 50px;
    position: relative;
    bottom: 60%;
    background-color: lightgreen;
    border: 1px solid black;
    font-size: 30px;
}

.play-button:hover {
    background-color: green;
    color: aliceblue;
}

.new-game {
    display: none;
    justify-content: center;
    margin-top: 50px;
}

.new-game-button {
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: steelblue;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.new-game-button:hover {
    background-color: rgb(70, 100, 122);
}

@media screen and (max-width: 650px) {
    .player-one-grid, .player-two-grid {
        grid-template-rows: repeat(10, 20px);
        grid-template-columns: repeat(10, 20px);
    }

    .player-grid-square, .computer-grid-square {
        font-size: 28px;
    }

    .play-button {
        width: 80px;
        bottom: 65%;
        font-size: 20px;
    }

    .player-form {
        width: 400px;
        font-size: 18px;
    }

    #form-submit {
        font-size: 18px;
    }

    #player-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .player-one-grid, .player-two-grid {
        grid-template-rows: repeat(10, 14px);
        grid-template-columns: repeat(10, 14px);
    }

    .player-grid-square, .computer-grid-square {
        font-size: 20px;
    }

    .player-form {
        width: 300px;
    }

    #player-name {
        font-size: 12px;
        margin-left: 10px;
    }

    .play-button {
        bottom: 64%;
    }

    .player-one-name, .player-two-name {
        font-size: 25px;
    }

    .randomize-button {
        font-size: 12px;
    }
}